/* Universal Sytles */

html {
  font-size: 18px;
}

body {
  flex-direction: column;
}

.container {
  color: white;
}

/* Header Sytles */

header {

}

/* sytles used for logo */


.logo {
  background-color: black;
}

.logo .container {
  display: flex;
  align-items: center;
}

.logo img {
  height: 1.5rem;
  padding: 0 1rem 0 .5rem;
}

.logo span {
  padding: 0.66rem 0;
}

.container {
  width: 960px;
  margin: 0 auto;
}

/* sytles used for banner section of the header. */

.banner {
  background-image: url("./pics/background.jpeg");
  height: 25rem;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.banner .container {
  display: flex;
  align-items: left;
  font-family: Helvetica;
  font-weight: bold;
  flex-direction: column;
}

/* sytles used for text section of the banner  */

.banner .container span {
  font-size: 1rem;
  padding-left: 3rem;
  padding-top: 2rem;
}

.banner h1 {
  font-size: 2rem;
  padding-left: 3rem;
  padding-top: .25rem;
}

.btext {
  padding: 2rem 3rem;
  width: 20rem;
  background-color: black;
  margin-top: 9rem;
}
/* sytles used for nav section of the header. */

nav {
  background-color: firebrick;
}

nav .container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: .75rem 0;
}

/* sytles used for product section of the header. */

.products,
.business-info {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.product {
  width: 30%;
}

.product-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9rem;
  padding: 2rem 0;
  border: 4px solid black;
}

.product-image img {
  max-width: 8rem;
}

.description {
  display: block;
  padding: 0.5rem;
  background-color: black;
  text-align: center;
  color: white;
}

.info {
  width: 35%;
}

.info .title {
  display: block;
  padding: 1rem 2rem;
  background-color: black;
  color: white;
}

.business-info {
  color: black;
}

/* sytles used for footer section of the header. */

footer .container {
  padding: 5rem 0;
  margin-top: 4rem;
  background-color: black;
  color: white;
}

footer {
  background-color: black;
}

@media only screen and (max-width: 470px) {
  footer {
    text-align: center;
  }
}
