/* Universal Sytles */

html {
  font-size: 18px;
}

body {
  flex-direction: column;
  color: white;
}

/* Header Sytles */

header {

}

/* sytles used for logo */


.logo {
  background-color: black;
}

.logo .container {
  display: flex;
  align-items: center;
}

.logo img {
  height: 1.5rem;
  padding: 0 1rem 0 .5rem;
}

.logo span {
  padding: 0.66rem 0;
}

.container {
  width: 960px;
  margin: 0 auto;
}


/* sytles used for banner section of the header. */

.banner {
  background-image: url("./pics/background.jpeg");
  height: 25rem;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner .container {
  display: flex;
  align-items: center;
}

nav {
  background-color: firebrick;

}
