/* Universal Sytles */

html {
  font-size: 18px;
}

body {
  flex-direction: column;
}

.container {
  color: white;
}

/* Header Sytles */

header {

}

/* sytles used for logo */


.logo {
  background-color: black;
}

.logo .container {
  display: flex;
  align-items: center;
}

.logo img {
  height: 1.5rem;
  padding: 0 1rem 0 .5rem;
}

.logo span {
  padding: 0.66rem 0;
}

.container {
  width: 960px;
  margin: 0 auto;
  border: 1px solid black;
}

/* sytles used for banner section of the header. */

.banner {
  background-image: url("./pics/background.jpeg");
  height: 25rem;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.banner .container {
  display: flex;
  align-items: left;
  font-family: Helvetica;
  font-weight: bold;
  flex-direction: column;
}

.banner .container span {
  font-size: 1rem;
}

.banner h1 {
  font-size: 2rem;
}

.btext {
  padding-top: 9rem;
  width: 20rem;
}
nav {
  background-color: firebrick;
}

footer .container {
  flex-direction: row;
  align-items: center;
}

footer {
  display: flex;
}
